
@font-face{
    font-family: 'Product-sans';
    font-weight:normal;
    font-style:normal;
    src: url(../fonts/ProductSans-regular.ttf);
 }
* {
    font-family: 'Product-sans', serif;

}

/* a {
    text-decoration: none;
    color: #55585D;
    font-size: 12px;
} */
h1 {
    font-size: 70px;
    margin: 0;
}
h1 .color-letter-blue {
    color: #4687F4;
}
h1 .color-letter-red {
    color: #ED574B;
}
h1 .color-letter-yellow {
    color: #FBBC08;
}
h1 .color-letter-green {
    color: #34A853;
}
.letter-e{
    display: inline-block;
    transform: rotateZ(-25deg);
}
.icon {
    width: 18px;
}
header {
    display: flex;
    justify-content: space-between;
    color: #55585D;
    margin-top: 10px;
}
header a {
    text-decoration: none;
    color: #55585D;
    font-size: 12px;
}
.c-menu {
    display: flex;
    align-items: center;
}
.c-menu-leters{
    display: flex;
    flex-direction: row;
}
.menu-options {
    margin-right: 15px;
}
.profile-img {
    width: 35px;
    border-radius: 50px;
    margin-right: 5px;
}
.container {
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.barra-busqueda{
    display: inline;
}
.c-barra-busqueda{
    border: solid 1px #55585D;
    border-radius: 40px;
    width:500px;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
    padding: 5px 10px 0px;
}

body > section > div:nth-child(3) {
    margin-bottom: 70px;
}
input{
    width: 400px;
    height: 30px;
    text-align: center;
    border-style:none;
}
button {
    background-color: #F2F2F2 ;
    border: none;
    color: grey;
    height: 40px;
    width: 170px;
    border-radius: 5px;
    
}
footer {
    background-color: #F2F2F2;
    color: grey;
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.c-footer {
    border: 0.2px solid #D3D3D3;
    font-size: 15px;
    height: 40px;
    padding: 0 25px;
}
.c-footer a {
    text-decoration: none;
    color: grey;
    font-size: 15px;
    
    margin-right: 10px;
}
.c-footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.link-container {
    padding-top: 12px;
}